<form class="registration-wizard-form" (ngSubmit)="onSubmit(form)">
  <h2 class="registration-wizard-header">Step 2</h2>

  <mat-form-field class="registration-wizard-field-width">
    <mat-label>Country</mat-label>
    <mat-select [formControl]="countryControl" (selectionChange)="changeCountry($event)" placeholder="Select country">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="countryControl.hasError('required')">Country is a required field</mat-error>
    <mat-spinner class="registration-wizard-spinner-right" [diameter]="20" *ngIf="status == 3"></mat-spinner>
  </mat-form-field>

  <mat-form-field class="registration-wizard-field-width">
    <mat-label>Province</mat-label>
    <mat-select [formControl]="provinceControl" (selectionChange)="changeProvince($event)" [placeholder]="provinces == null ? 'Please select country first' : 'Select province'">
      <mat-option *ngFor="let province of provinces" [value]="province">
        {{province.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="provinceControl.hasError('required')">Province is a required field</mat-error>
    <mat-spinner class="registration-wizard-spinner-right" [diameter]="20" *ngIf="status == 4"></mat-spinner>
  </mat-form-field>
  <button class="registration-wizard-button" [disabled]="status == 2" mat-raised-button>
    Save
    <mat-spinner class="registration-wizard-spinner-right button" [diameter]="20" *ngIf="status == 2"></mat-spinner>
  </button>
  <div *ngIf="message != null" [ngClass]="['registration-wizard-message' + (savedUserId != null ? ' success' : ' mat-error')]">{{message}}</div>
</form>