<form class="registration-wizard-form" (ngSubmit)="onSubmit(form)">
  <h2 class="registration-wizard-header">Step 2</h2>

  <!--<mat-form-field class="registration-wizard-field-width">
      <mat-label>Country</mat-label>
      <mat-select>
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="registration-wizard-field-width">
      <mat-label>Province</mat-label>
      <mat-select>
        <mat-option *ngFor="let province of provinces" [value]="province.id">
          {{province.name}}
        </mat-option>
      </mat-select>
  </mat-form-field-->

  <button class="registration-wizard-button" mat-raised-button>Save</button>
</form>